<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pdf</title>
  </head>
  <body style="margin: 0; padding: 0; line-height: 0.9; font-family: calibri">
    <div style="display: flex; width: 100%; box-sizing: border-box">
      <div style="border: 3px solid gray; padding: 20px; margin: 10px; width: 100%">
        <div style="text-align: center">
          <img src="http://www.ignitedmindlab.com/images/invoice-logo.png " style="margin-top: 0.1cm; width: 205px" />
          <!-- <div> -->
          <div style="line-height: 0.8">
            <h2>{{competition}}</h2>
            <h2>Mark Statement</h2>
          </div>
        </div>

        <!-- details Section -->
        <div style="line-height: 0.6">
          <b>Seat No: {{seatnumber}} </b>
          <p>Student Name: {{studentname}}</p>
          <p>School Name: {{schoolname}}</p>
          <p>Class: {{Class}}</p>
          <p>Section: {{section}}</p>
        </div>

        <table
          border="1px solid"
          cellspacing="0"
          cellpadding="10"
          width="100%"
          style="margin-top: 20px; text-align: center"
        >
          <thead>
            <tr>
              <th>Examination</th>
              <th>Marks Obtained</th>
              <th>Max Marks</th>
              <th>Grade</th>
              <th>Rank</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{competition}}</td>
              <td>{{marks_obtain}}</td>
              <td>{{marks_total}}</td>
              <td>{{grade}}</td>
              <td>{{rank}}</td>
            </tr>
          </tbody>
        </table>
        <div style="display: flex; justify-content: space-between; gap: 20px">
          <div>{{marksheet_instruction}} {{grand_finale_msg}}</div>
          <div>
            <img
              style="margin: 10px; width: 260px; max-height: 260px"
              src="https://imldatabucket.s3.ap-south-1.amazonaws.com/vishal909@gmail.com/dated_on20231023_105428.png"
            />
          </div>
        </div>

        <div style="text-align: center; margin-top: 10px">{{company_address}}</div>
      </div>
    </div>

    <div style="display: flex; width: 100%; box-sizing: border-box">
      <div style="border: 3px solid gray; padding: 20px; margin: 10px; width: 100%">
        <div style="text-align: center">
          <img src="http://www.ignitedmindlab.com/images/invoice-logo.png " style="margin-top: 0.1cm; width: 205px" />
          <!-- <div> -->
          <div style="line-height: 0.8">
            <h2>{{competition2}}</h2>
            <h2>Mark Statement</h2>
          </div>
        </div>

        <!-- details Section -->
        <div style="line-height: 0.6">
          <b>Seat No: {{seatnumber2}} </b>
          <p>Student Name: {{studentname2}}</p>
          <p>School Name: {{schoolname2}}</p>
          <p>Class: {{Class2}}</p>
          <p>Section: {{section2}}</p>
        </div>

        <table
          border="1px solid"
          cellspacing="0"
          cellpadding="10"
          width="100%"
          style="margin-top: 20px; text-align: center"
        >
          <thead>
            <tr>
              <th>Examination</th>
              <th>Marks Obtained</th>
              <th>Max Marks</th>
              <th>Grade</th>
              <th>Rank</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{competition2}}</td>
              <td>{{marks_obtain2}}</td>
              <td>{{marks_total2}}</td>
              <td>{{grade2}}</td>
              <td>{{rank2}}</td>
            </tr>
          </tbody>
        </table>
        <div style="display: flex; justify-content: space-between; gap: 20px">
          <div>{{marksheet_instruction2}} {{grand_finale_msg2}}</div>
          <div>
            <img
              style="margin: 10px; width: 260px; max-height: 260px"
              src="https://imldatabucket.s3.ap-south-1.amazonaws.com/vishal909@gmail.com/dated_on20231023_105428.png"
            />
          </div>
        </div>

        <div style="text-align: center; margin-top: 10px">{{company_address2}}</div>
      </div>
    </div>
     
  </body>
</html>
